:root {
    --vermelho: rgb(170, 60, 40);
    --camelo: rgb(155, 130, 80);
    --cinza-1: rgb(45, 40, 40);
    --cinza-2: rgb(80, 75, 75);
    --cinza-3: rgb(105, 100, 100);
    --cinza-4: rgb(155, 150, 150);
    --cinza-5: rgb(225, 220, 220);
}